.about {
    min-height: 628px;
    padding-top: 130px;
    text-align: center;
    &__title {
        margin-bottom: 33px;
        text-align: center;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: #616161;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        padding-top: 50px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
    }
    &__right {
        max-width: 384px;
    }
    &__number {
        height: 50px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        &_one {
            background-image: url(../img/about1.png);
        }
        &_two {
            background-image: url(../img/about2.png);
        }
        &_three {
            background-image: url(../img/about3.png);
        }
    }
    
}