.header {
    padding: 0 15px;
    margin-top: 20px;
    margin-bottom: 100px;
    &_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__menu {
        width: 760px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        &__item {
            list-style: none;
        }
        &__link {
            font-size: 18px;
            line-height: 29px;
            font-weight: 400;
            color: #616161;
            &:hover {
                color: #616161;
            }
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        line-height: 29px;
        font-weight: 700;
        color: #141419;
        &:hover {
            color: #616161;
        }
    }
}

.hamburger {
  display: none;
}