.partners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 130px;
    &__subtitle {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: #616161;
    }
    &__left {
        display: block;
        max-width: 430px;
    }
    &__logo {
        display: block;
        flex: 1;
        img {
            margin-bottom: 65px;
        }
    }
    
}
