@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    font-family: 'Calibri', sans-serif;
}

section{
  padding: 0 15px;
}

.orange-bold {
    font-weight: 700;
    color: #fb973b;
}

h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  color: #141419;
  display: inline;
  position: relative;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(transparent 60%, #fb973b 40%);
  background-repeat: repeat-x;
  background-size: auto 30%;
  background-position-y: 35px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/partners';
@import 'blocks/media';
